.root{
    -fx-font-size: 15pt;
    -fx-font-family: "Calibri";
    -fx-base: #C3D3E2;
    -fx-background: #28373C;
}
#world{
    -fx-font-size: 25pt;
    -fx-text-fill: #902E97;
}
#exportOk{
    -fx-text-fill: #CEA599;
}
